<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
</head>

<body>
  hello
  <button id="button">xhr</button>
  <div id="demo"></div>
  <script>
    document.getElementById("button").addEventListener("click", function () {
      const xhr = new XMLHttpRequest();
      const url = 'https://corstest-2445581953914.staging.gw.apicast.io:443/?user_key=3fdd26be38c2e9abaaa2f095b67c7577';
      xhr.open('GET', url);
      xhr.addEventListener("load", reqListener);
      xhr.send();
    });
    function reqListener() {
      console.log(this.responseText);
    }
  </script>
</body>

</html>